  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*, ::before, ::after{
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", Sans-Serif;
}
body{
  
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(45deg, brown, white, darkred)
}
.nav-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100% ;
  height: 80px;
  background:rgba(0,0,0,0.5);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 15px rgba(0,0,0,0.25);
}
.logo{
  color:#fff;
  text-decoration: none;
  font-size: 25px;
  line-height: 60px;
  font-weight: bold;
}
.group{
  display: flex;
  align-items: center;
}
.nav-menu ul{
  position: relative;
  display: flex;
  
  gap:30px
}
.nav-menu ul li{
  
  list-style: none;
}
.nav-menu ul li a{
  position: relative;
  right: 300px;
  bottom:0;
  text-decoration: none;
  font-size: 16px;
  color:#fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.classroom{
  position: relative;
  bottom: 355px;
  left: 25%;
  width: 50%;
  height: 180px;
  border: 1.5px solid white;
  border-radius: 10px;
  font-weight: 500;
  background-color: #331a59;
  cursor: pointer;
  padding: 15px;
  margin: 25px 15px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.leftside{
  position: relative;
  margin: 10px;
  left: 50px;
  top: 160px;
  width: 20%;
  height: 500px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: lightgray;
  color: black;
  padding: 15px;
}

h1{
  font-size: 20px;
  font-weight: 500;
}
h3{
  font-size: 16px;
  font-weight: 300px;
}
.nav-menu ul li .link::before{
  content:'';
  position: absolute;
  bottom: -2px;
  width:100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}
.nav-menu ul li .link:hover::before{
  transform: scaleX(1);
  transform-origin: left;
}

button {
    
    background-color: #424890;
    color: white;
    font-size: 1.0em;
    width: 150px;
    height: 60px;
    border: none;
    border-radius:50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .link:hover, .active{
    border-bottom: 2px solid #fff;
}

  .link .button{
     color:white;
  }
  
  .link:hover{
    background-color: #2e3270;
  }
  
  .box{
    position: absolute;
    right: 250px;
    height: 40px;
    display: flex;
    cursor: pointer;
    border-radius: 40px;
    padding: 10px 20px;
    background: #fff;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    z-index: 9999;
  }
  .box:hover input{
    width: 400px;
  }
  .nav-menu-btn{
    display: none;
  }
  .box input{
    
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
  }
  .box a .ion{
    color: lightgray;
    font-size: 18px;
  }    

.header img{
  width: 100%;
}
.span{
  position: absolute;
  display: flex;
  flex-direction: rows;
  top: 350px;
  left: 100px;
}
.span span{
  
  font-size: 80px;
  text-shadow: 4px 4px black;
  color: white;
  animation: drop 0.4s linear forwards;
}
.span span:nth-child(2){
  animation-delay: 0.2s;
}
.span span:nth-child(3){
  animation-delay: 0.4s;
}
.span span:nth-child(4){
  animation-delay: 0.6s;
}
.span span:nth-child(5){
  animation-delay: 0.8s;
}
.span span:nth-child(6){
  animation-delay: 1s;
}
.span span:nth-child(7){
  animation-delay: 1.2s;
}
.span span:nth-child(8){
  animation-delay: 1.4s;
}
.span span:nth-child(9){
  animation-delay: 1.6s;
}
@keyframes drop {
  0%{
    transform: translateY(-200px) scaleY(0.9);
  }
  5%{
    opacity: 0.7;
  }
  
  50%{
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }
  65%{
    transform: translateY(-17px) scale(1);
  }
  75%{
    transform: translateY(-22px) scale(0.9);
  }
  100%{
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }
}

.h2{
  position: absolute;
  font-size: 40px;
  color: white;
  top: 500px;
  left: 100px;
  width: 50%;
  text-shadow: 7px 8px 0 #000;
}
.start{
  position: absolute;
  top: 750px;
  left: 300px;
  color: white;
  border: 2px solid darkred;
  border-radius: 4px;
  background: linear-gradient(45deg, red, violet);
  
}

.subjects{
  position: relative;
  top: 10px;
  left: 310px;
  border: 4px solid black;
  width:77%;
  height: 1000px;
  overflow-y: auto;
  background: white;
}

.h1{
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subjects .firstSub{
  
  position: relative;
  padding-left: 20px;
  margin: 10px ;
  width: 97%;
  height: 130px;
  left: 10px;
  top: 10px;
  color: white;
  border: 4px solid black;
  background: rgba(0,0,0,0.5);
  border-radius: 10px;
}
.subjects p{
  line-height: 35px;
  top: 20px;
  font-size: 20px;
}

.sidebar{
  position: absolute;
  border: 4px solid black;
  width: 20%;
  height: 1000px;
  margin: 10px 0 0 10px;
  background: linear-gradient(155deg, black, lightblue, darkblue);
  overflow-y: auto;
}
hr{
  height: 5px;
  background: #000;
}
.sidebar button{
  display: block;
}

.sb{
  width: 100%;
  height: 50px;
  position: sticky;
  z-index: 1000;
  top: 0;
  background: linear-gradient(74deg, black, red, yellow, #ffa500) ;
}
.sb button{
  height: 50px;
  width: 50px;
  background: transparent;
}

.x:active{
  background: red;
}
.sidebar .sidebarBtn{
  margin: 10px 0 5px 5px;
  background: rgba(0,0,0,0.5);
  border: 4px solid black;
  border-radius: 10px;
  width: 95%;
  height: 70px;
  transition: background 0.9s;
  text-align: start;
  padding-left: 10px;
}

.sidebar .sidebarBtn:active{
  background: linear-gradient(75deg, black, red, yellow, #ffa500 );
}
.enrolled{
  font-size: 20px;
  text-transform: uppercase;
  color: Black;
  background: linear-gradient(45deg, yellow, #ffa500);
  padding: 10px;
}
.sidebarBtn1{
  margin: 10px 0 5px 5px;
  background: rgba(0,0,0,0.5);
  border-radius: 10px;
  width: 95%;
  height: 70px;
  transition: background 0.9s;
  text-align: start;
  padding-left: 10px;
  text-transform: uppercase;
  border: 4px solid black;
  font-size: 13px;;
}
 .sidebarBtnactive1{
  margin: 10px 0 5px 5px;
  border-radius: 10px;
  width: 95%;
  height: 70px;
  background: linear-gradient(75deg, red, yellow);
  text-align: start;
  padding-left: 10px;
}

.sidebar .sidebarBtn1:active{
  background: linear-gradient(75deg, black, red, yellow, #ffa500 );
}

.lowerpic img {
  position: relative;
  top: 20px;
  width: 100%;
  height: 450px;
}
.h4{
  color: white;
  position: absolute;
  top: 84%;
  left: 10%;
  font-size: 50px;
}